.carousel-fittings {
  object-fit: cover;
  height: 50vh;
}

.font-lucidasans {
  font-family: "Lucida Sans", Arial, sans-serif;
}

::ng-deep .mat-mdc-paginator-outer-container {
  background-color: #457132;
}
::ng-deep .mat-mdc-paginator {
  background-color: #457132;
}
