<head>
  <!-- Load icon library -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
  />
</head>

<nav class="navbar navbar-expand-xl bg-light navbar-light sticky-top">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Images/logotransparent2.png" class="ps-0"alt="Logo" style="height: 8vh" />
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">SHOP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">CONTACT US</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">ABOUT US</a>
        </li> -->
        <li class="nav-item">
          <a
            *ngIf="userIsAuthenticated"
            class="nav-link"
            routerLink="/admin-panel"
            >ADMIN</a
          >
        </li>
        <li *ngIf="!userIsAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="auth/login">SIGN IN</a>
        </li>
        <li *ngIf="userIsAuthenticated" (click)="onLogout()" class="nav-item">
          <a class="nav-link" routerLink="auth/login">LOGOUT</a>
        </li>
      </ul>

      <a href="/cart" class="btn btn-outline-light btn-sm ml-2">
        <i class="bi-cart" style="color: black"></i>
      </a>

      <div class="ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control form-control-sm mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>
      <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">
        Search
      </button>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
