<div class="mt-5" style="padding-top: 50px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 pr-md-2">
        <h2 class="text-center mb-4" style="color: #1c461b">Sign In</h2>
        <form>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              type="email"
              class="form-control form-control-sm bg-light"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control form-control-sm bg-light"
              id="inputPassword"
              placeholder="Password"
            />
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-primary flex-fill me-2 w-50"
              style="background-color: #1c461b"
            >
              Sign In
            </button>
            <button
              type="button"
              class="btn btn-secondary flex-fill me-2 w-50 d-flex justify-content-center"
              style="background-color: #1c461b"
            >
              Forgot Password?
            </button>
          </div>
        </form>
      </div>

      <!-- Empty column for spacing -->
      <div class="col-md-2"></div>

      <div class="col-md-3 pl-md-2">
        <h2 class="text-center mb-4" style="color: #1c461b">Register</h2>

        <form>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              type="email"
              class="form-control form-control-sm bg-light"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control form-control-sm bg-light"
              id="inputPassword"
              placeholder="Password"
            />
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            style="background-color: #1c461b"
          >
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
