<div class="bg-light">
  <div class="container py-4">
    <div class="row pb-5 text-center">
      <div class="display-5">Contact Us</div>
    </div>
  </div>

  <div class="container pb-5 font-lucidasans">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-md-6 text-center">
        <a href="tel:+96103958855" style="color: #1c461b;">
          <i class="bi bi-telephone-fill" style="font-size: 5rem;"></i>
        </a>
        <h3 class="pt-3">Phone Number</h3>
        <p>Call or Message us on </p>
        <p>
          <a href="tel:+96103958855" style="color: #1c461b;">03 958 855</a>
        </p>
      </div>

      <div class="col-12 col-md-6 pt-md-0 pt-5 text-center">
        <a href="https://www.google.com/maps/place/Lavender+Chocolate+Shop/@33.852967,35.505716,19z/data=!4m6!3m5!1s0x151f176229aca359:0x9e6f8dad18f1d59e!8m2!3d33.8530757!4d35.5057231!16s%2Fg%2F11c3ywcjp_?hl=pt-BR&entry=ttu" style="color: #1c461b;" target="_blank">
          <i class="bi bi-geo-alt-fill" style="font-size: 5rem;"></i>
        </a>
        <h3 class="pt-3">Visit Us</h3>
        <p>Haret Hreik</p>
        <p>Beside Bahman Hospital</p>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <a href="https://www.facebook.com/profile.php?id=100063561311071" target="_blank" style="color: #1c461b;">
          <i class="bi bi-facebook" style="font-size: 5rem;"></i>
        </a>
        <h3 class="pt-3">Facebook</h3>
        <p>
          Follow us on <a href="https://www.facebook.com/profile.php?id=100063561311071" target="_blank" style="color: #1c461b;">Facebook</a>
        </p>
      </div>
      <div class="col-12 col-md-6 pt-md-0 pt-5 text-center">
        <a href="https://www.instagram.com/abzflowers/" target="_blank" style="color: #1c461b;">
          <i class="bi bi-instagram" style="font-size: 5rem;"></i>
        </a>
        <h3 class="pt-3">Instagram</h3>
        <p>Follow us on <a href="https://www.instagram.com/abzflowers/" target="_blank" style="color: #1c461b;">Instagram</a></p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d414.17797746932706!2d35.50571600613421!3d33.85296681095362!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slb&q=33.852977,35.505616"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-3 pt-4 mt-1">
    <h1 class="text-center font-lucidasans">We're waiting for your visit!</h1>
  </div>
</div>
