<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Images/Contact Us.jpg" class="d-block" style="width:100%">
        </div>
    </div>
</div>

<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Images/Info.png" class="d-block" style="width:100%">
        </div>
    </div>
</div>

<br>

<div class="text-center">
<p><b>Get in touch with us</b></p>
    <table>
        <tr>
            <td><input id="name" type="text" name="name" placeholder="Name" /></td>
            <td><input type="text" name="email" placeholder="Email" /></td>
            <td><input type="tel" name="number" placeholder="Phone Number" /></td><br>
            <td><input type="text" name="message" placeholder="Message" /></td>
        </tr>
    </table>
</div>

<!-- google  maps -->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://goo.gl/maps/JTrEz7jzeQX8VhQBA" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>