<body>
	<div class="mt-5" style="padding-top: 24px;">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 style="color: #1C461B;">Order Status</h3>
					<div class="alert alert-success" role="alert">
						Your order has been confirmed!
					</div>
					<div class="alert alert-secondary" role="alert">
						Your order has not yet been shipped. We will notify you when it ships.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h3 style="color: #1C461B;">Update Info</h3>
					<form>
						<div class="form-group">
							<label for="email">Email address:</label>
							<input type="email" class="form-control  form-control-sm bg-light" id="inputEmail"
								aria-describedby="emailHelp" placeholder="Enter email address">
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label>
							<input type="password" class="form-control form-control-sm bg-light" id="pwd"
								placeholder="Enter new password">
						</div>
						<div class="form-group">
							<label for="confirm-pwd">Confirm Password:</label>
							<input type="password" class="form-control form-control-sm bg-light" id="confirm-pwd"
								placeholder="Confirm new password">
						</div>
						<div class="d-flex">
							<button type="submit" class="btn btn-primary flex-fill me-2 btn-lg square-btn"
								style="background-color: #1C461B;">Save Changes</button>
							<button type="submit" class="btn btn-primary flex-fill me-2 btn-lg square-btn"
								style="background-color: #1C461B;">Log Out</button>
						</div>



					</form>
				</div>
			</div>
		</div>
	</div>
</body>