<div class="bg-light">
  <div class="container py-4">
    <div class="row pb-5 text-center">
      <div class="display-5">About ABZ Flowers</div>
    </div>
  </div>

  <div class="container font-roboto">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-md-9 fs-5">
        Welcome to ABZ Flowers, your premier flower shop in Beirut, Haret Hreik.
        We are a family-owned business with a deep-rooted passion for flowers
        and a rich history in the floral industry. Our story begins with our
        founder, who inherited his love for flowers from his father, a florist
        who dedicated his entire life to creating stunning floral arrangements.
        <br /><br />
        Originally, our owner had a flower shop located in another vibrant area
        of Beirut, Ras el Nabaa. However, driven by a desire to build a better
        future for his family, he made the difficult decision to leave Lebanon.
        After years of hard work and perseverance abroad, he returned to his
        beloved homeland in 2017 to pursue his lifelong dream of working as a
        florist.
        <br /><br />
        We take great pride in sourcing the freshest and most vibrant flowers
        from local growers and international suppliers to ensure the highest
        quality for our customers. Whether you're looking for a breathtaking
        bouquet for a special occasion, elegant floral centerpieces for weddings
        and events, or a simple gesture of love and appreciation, our floral
        artisans will design and arrange the perfect ensemble to exceed your
        expectations.
        <br /><br />
        Beyond our commitment to delivering exceptional floral designs, we also
        strive to provide personalized service that leaves a lasting impression.
        We take the time to understand your preferences, offer expert advice,
        and ensure that every detail is tailored to your specific needs.
        <br /><br />
        As a local flower shop, we feel deeply connected to our community in
        Beirut. We embrace the beauty and resilience of our city, and our
        mission is to spread joy and positivity through the language of flowers.
        We are honored to be part of life's most meaningful moments, from
        birthdays and anniversaries to celebrations and condolences.
        <br /><br />
        Visit ABZ Flowers in Haret Hreik, and immerse yourself in a world of
        floral elegance, simplicity and enchantment!
      </div>
      <div class="col-12 col-md-3 pt-md-0 pt-5 text-center">
        <div class="image-container">
          <div>
            <img
              src="../../assets/Images/ownerpfp.jpg"
              alt="First Image"
              class="img-fluid rounded-5"
            />
            <h1 class="pt-3 font-lucidasans">Ali Ftouni</h1>
          </div>
          <div>
            <img
              src="../../assets/Images/logosquare.jpg"
              alt="Second Image"
              class="img-fluid mt-3 rounded-5"
            />
            <h1 class="pt-3 font-lucidasans">Our Store</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3">
    <h1 class="text-center font-lucidasans">We're waiting for your visit!</h1>
  </div>
</div>
