.background {
  background-color: #fff;
}
.card-bg {
  background-color: #fff0e6;
}

.btn-addcart{
  background-color: #4C8038;
}

.carousel-fittings {
  object-fit: cover;
  height: 50vh;
}

.font-lucidasans {
  font-family: "Lucida Sans", Arial, sans-serif;
}

::ng-deep .mat-mdc-paginator-outer-container {
  background-color: #457132;
}
::ng-deep .mat-mdc-paginator {
  background-color: #457132;
}


.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

/* fac0c9
  FFE4E8 */
