<link rel="stylesheet" href="home.component.css" />

<div class="background">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/Images/pic1.jpg"
          class="d-block"
          style="width: 100%"
        />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row px-5 pt-5 text-center">
      <div class="display-5">Products</div>
    </div>
  </div>

  <div class="row px-5 pt-3">
    <!-- Backend Integration -->
    <div
      class="col-xxl-1 col-xl-2 col-md-2 col-sm-12 pb-5"
      *ngFor="let product of products"
    >
      <div class="card shadow rounded-0 border-0 card-bg">
        <img
          class="card-img-top rounded-0"
          [src]="product.imagePath"
          [alt]="product.title"
        />
        <div class="card-body text-center d-flex flex-column">
          <a
            href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
            class="btn btn-success"
          >
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End of Backend Integration -->
  </div>

  <!-- Backend Integration -->
  <p
    class="info-text mat-body-1 text-center"
    *ngIf="products.length <= 0 && !isLoading"
  >
    No products added yet!
  </p>
  <!-- End of Backend Integration -->
</div>
