<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Images/pic1.jpg" class="d-block" style="width:100%">
        </div>
    </div>
</div>

<!-- the products shown on home page -->

<div class="container">
    <div class="row px-1 pt-1">
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower BunDle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
                <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Flower Bundle</h4>
                    <p class="card-text">$5</p>
                    <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
    </div>