.background {
  background-color: #fff;
}
.card-bg {
  background-color: #fff0e6;
}

.btn-addcart{
  background-color: #4C8038;
}

.carousel-fittings {
  object-fit: cover;
  height: 50vh;
}

.font-lucidasans {
  font-family: "Lucida Sans", Arial, sans-serif;
}

/* fac0c9
  FFE4E8 */
