<link rel="stylesheet" href="home.component.css">

<div class="background">

    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/Images/pic1.jpg" class="d-block" style="width:100%">
            </div>
        </div>
    </div>
    <!-- 
the products shown on home page



<div class="row px-1 pt-1">
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
        <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Flower Bundle</h4>
            <p class="card-text">$5</p>
            <a href="#" class="btn btn-primary">ADD TO CART</a>
            <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
                class="btn btn-success">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="card col-xxl-2 col-xl-3 col-md-6 col-sm-12 pb-5 bg-white">
    <img class="card-img-top" src="../../assets/Images/flower1.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Flower Bundle</h4>
        <p class="card-text">$5</p>
        <a href="#" class="btn btn-primary">ADD TO CART</a>
        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20i%20would%20like%20to%20buy%20this"
            class="btn btn-success">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div>
</div>


</div> -->




    <div class="container">
        <div class="row display-5 px-5 pt-5">Products</div>

        <div class="row px-5 pt-3">

            <div class="col-xxl-1 col-xl-2 col-md-2 col-sm-12 pb-5">
                <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-2 col-sm-12 pb-5">
                <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="col-xxl-1 col-xl-2 col-md-6 col-sm-12 pb-5">
                 <div class="card shadow rounded-0 border-0 card-bg">
                    <div class="card-header rounded-0 text-white bg-seven"></div>
                    <img class="card-img-top rounded-0" src="../../assets/Images/flower1.jpg" alt="Card image">
                    <div class="card-body text-center d-flex flex-column">
                         
                        <!-- <div class="mt-auto"> -->
                        <a href="https://api.whatsapp.com/send?phone=96103958855&text=Hello,%20I%20would%20like%20to%20buy%20this"
                            class="btn btn-success">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

</div>