<div class="container-fluid">


  <!-- Modal to display the image -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">{{ selectedProduct?.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="selectedProduct = null">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="selectedProduct?.imagePath" [alt]="selectedProduct?.title" class="img-fluid" *ngIf="selectedProduct" />
      </div>
    </div>
  </div>
</div>

  <h1 class="display-3">Admin Panel</h1>

  <div class="container">
    <h1 class="h1">Products</h1>
    <form class="d-flex my-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-info" type="submit">Add</button>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Currency</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.currency }}</td>
            <td>
              <button
                type="button"
                class="btn btn-link"
                data-toggle="modal"
                data-target="#imageModal"
                (click)="openImageModal(product)"
              >
                View Image
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <h1 class="h1">Events</h1>
    <form class="d-flex my-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <h1 class="h1">Users</h1>
    <form class="d-flex my-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Current Orders</th>
            <th scope="col">Completed Orders</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <h1 class="h1">Orders</h1>
    <form class="d-flex my-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Products</th>
            <th scope="col">Status</th>
            <th>Confirm Order</th>
            <th>Cancel Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-success">Confirm</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Cancel</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <button type="button" class="btn btn-success">Confirm</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Cancel</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <button type="button" class="btn btn-success">Confirm</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
