.footer-bg {
    background-color: #C9242B;
    color: white;
}

.button-footer: {
    background-color: #ffffff;
}

.whatsapp-btn {
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


