<div class="footer-bg">


  <head>
    <meta charset="UTF-8">
    <title>Bootstrap Button with Instagram Icon</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>


  <div id="footer">
    <div class="container text-center">
      <p>COPYRIGHT &copy;2023 </p>
      <BR>
      <p>ALL RIGHTS RESERVED</p>
    </div>
  </div>
  

  <div class="container d-flex justify-content-center align-items-center">
    <a href="https://www.facebook.com/profile.php?id=100063561311071" target="_blank">
      <button type="button" class="btn btn-link btn-lg" style="color: #1C461B;" style="color: #1C461B;">
        <span class="bi bi-facebook"></span>
      </button>
      
    </a>
    <a href="https://www.instagram.com/abzflowers/" target="_blank">
      <button type="button" class="btn btn-link btn-lg" style="color: #1C461B;"><span class="bi bi-instagram"></span></button>
    </a>
    <!-- phone here -->
    <a href="tel: 03 958 855">
      <button type="button" class="btn btn-link btn-lg" style="color: #1C461B;">
        <span class="bi bi-telephone-fill"></span>
      </button>
    </a>
  </div>
 

</div>