<!-- Whatsapp floating button -->
<a
  href="https://wa.me/96103958855"
  class="btn btn-success btn-floating position-fixed bottom-0 end-0 m-3 rounded-circle whatsapp-btn"
>
  <i class="bi bi-whatsapp"></i>
</a>

<!-- footer div -->
<div class="footer-bg">
  <div class="container row">
    <div class="col col-md-6">
      <div
        class="container pt-4"
        style="font-family: 'Lucida Sans', sans-serif; color: #f8f9fa"
      >
        <p>
          <a routerLink="home" class="fs-5 fw-bold" style="color: #f8f9fa; text-decoration: none;"
            >PRODUCTS</a
          >
        </p>
        <p>
          <a routerLink="arrangements" class="fs-5 fw-bold" style="color: #f8f9fa; text-decoration: none;"
            >ARRANGEMENTS</a
          >
        </p>
        <p>
          <a routerLink="arrangements" class="fs-5 fw-bold" style="color: #f8f9fa; text-decoration: none;"
            >ABOUT US</a
          >
        </p>
        <p>
          <a routerLink="arrangements" class="fs-5 fw-bold" style="color: #f8f9fa; text-decoration: none;"
            >CONTACT US</a
          >
        </p>
      </div>
    </div>
    <div class="col col-md-6">
      <div
        class="container pt-4"
        style="font-family: 'Lucida Sans', sans-serif; color: #f8f9fa"
      >
        <p>
          <a href="tel: 03 958 855" class="fs-5 fw-bold" style="color: #f8f9fa"
            >03 958 855</a
          >
        </p>
        <p class="fw-bold">HARET HREIK, BAHMAN HOSPITAL CORNER</p>
        <p>&copy;ABZFlowers 2023 <br />ALL RIGHTS RESERVED</p>
      </div>

      <a
        href="https://www.facebook.com/profile.php?id=100063561311071"
        target="_blank"
      >
        <button
          type="button"
          class="btn btn-link btn-lg"
          style="color: #f8f9fa"
        >
          <span class="bi bi-facebook"></span>
        </button>
      </a>
      <a href="https://www.instagram.com/abzflowers/" target="_blank">
        <button
          type="button"
          class="btn btn-link btn-lg"
          style="color: #f8f9fa"
        >
          <span class="bi bi-instagram"></span>
        </button>
      </a>
      <!-- phone here -->
      <a href="tel: 03 958 855">
        <button
          type="button"
          class="btn btn-link btn-lg"
          style="color: #f8f9fa"
        >
          <span class="bi bi-telephone-fill"></span>
        </button>
      </a>
    </div>
  </div>
</div>
