<!-- Whatsapp floating button -->
<a
  href="https://wa.me/96103958855"
  class="btn btn-success btn-floating position-fixed bottom-0 end-0 m-3 rounded-circle whatsapp-btn"
>
  <i class="bi bi-whatsapp"></i>
</a>

<!-- footer div -->
<div class="footer-bg">
  <head>
    <meta charset="UTF-8" />
    <title>Bootstrap Button with Instagram Icon</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>

  <div id="footer">
    <div
      class="container text-center pt-4"
      style="font-family: 'Lucida Sans', sans-serif; color: #f8f9fa"
    >
      <p><a href="tel: 03 958 855" class="fs-5 fw-bold"style="color: #f8f9fa">03 958 855</a></p>
      <p class="fw-bold">HARET HREIK, BAHMAN HOSPITAL CORNER</p>
      <p>&copy;ABZFlowers 2023 <br />ALL RIGHTS RESERVED</p>
    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center pt-0">
    <a
      href="https://www.facebook.com/profile.php?id=100063561311071"
      target="_blank"
    >
      <button type="button" class="btn btn-link btn-lg" style="color: #f8f9fa">
        <span class="bi bi-facebook"></span>
      </button>
    </a>
    <a href="https://www.instagram.com/abzflowers/" target="_blank">
      <button type="button" class="btn btn-link btn-lg" style="color: #f8f9fa">
        <span class="bi bi-instagram"></span>
      </button>
    </a>
    <!-- phone here -->
    <a href="tel: 03 958 855">
      <button type="button" class="btn btn-link btn-lg" style="color: #f8f9fa">
        <span class="bi bi-telephone-fill"></span>
      </button>
    </a>
  </div>
</div>
