<div class="mt-5" style="padding-top: 50px">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6">
        <h2 class="text-center mb-4" style="color: #1c461b">Authorized Access Only</h2>
        <h2 class="text-center mb-4" style="color: #1c461b">If you are not authorized leave immediately</h2>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              type="email"
              class="form-control form-control-sm bg-light"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
              ngModel
              required
              email
            />
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control form-control-sm bg-light"
              id="inputPassword"
              placeholder="Password"
              name="password"
              ngModel
              required
            />
          </div>
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-primary flex-fill me-2 w-50"
              style="background-color: #1c461b"
            >
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
